<div class="col-lg-offset-2 col-lg-8">
  <h1>Editing Focus Type <small><%= link_to 'Back to Focus Types', focus_types_path, class: 'btn btn-xs btn-default' %></small></h1>

  <%= render 'form' %>
</div>
