<h4>Are you sure you want to propose a lab?</h4>
<p>Creating a new lab proposal is a big deal, make sure you're ready to lead this lab.
Here are some helpful guidelines on whether you should propose a lab and good guidelines on
successful lab proposals and completed labs.</p>
<ul>
  <li>Labs should be small in scale and achievable.</li>
  <li>Labs should not require a budget of any sort.</li>
  <li>Labs should be able to be accomplished with a small (1-4 person) team.</li>
  <li>Labs should have some direct benefit to the organization, such as solving a team problem or creating a new app for patients and families.</li>
</ul>

<div class="alert alert-warning">
  <p><strong>Note!</strong> Skunk Labs labs are personal-time only labs. If you intend to work on this lab during your regular work hours you
  <strong>must</strong> confirm with your manager or supervisor that this is okay and set realistic expectations.</p>
</div>
