<ul class="list-unstyled">
  <li><p class="lead">SkunkWorks Notices: <input class="bootswitch" data-size="small" type="checkbox" name="notices-checkbox" <%= current_user.meeting_notice ? 'checked' : ''%>></li>
</ul>
